:host(select-list) {
    width: 30%;
}

.select-list {
    color: #212529;

    &__label {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__new {
        display: flex;
        flex-direction: column;
        padding: 12px 0;

        &-control {
            display: flex;
            justify-content: flex-end;

            &__exist {
                flex: 1;
                padding-top: 5px;
                color: #E34C4C;
                text-transform: capitalize;
                font-size: 14px;
            }
        }

        &-input {
            border: 1px solid #CED4DA;
            border-radius: 3px;
            height: 50px;
            font-size: 14px;
            padding: 14px;

            &:focus {
                border-color: #A100FF;
                outline: none;
            }

            &::placeholder {
                color: #999999;
                opacity: 1;
            }

            &:disabled {
                background-color: #CED4DA;
            }

            &.exist {
                border-color: #E34C4C;
            }
        }

        &-button {
            width: 93px;
            height: 40px;
            background-color: #460073;
            color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-end;
            border-radius: 3px;
            margin: 10px 0;
            cursor: pointer;

            &.disbaled {
                cursor: auto;
                background-color: #CED4DA;
                color: #6C757D;
            }

            &:hover {
                background-color: #A100FF;

                &.disbaled {
                    background-color: #CED4DA;
                }
            }
        }
    }

    &__divider {
        border-top: 1px solid #CED4DA;

        margin-bottom: 20px;
    }

    &__main {
        border: 1px solid #CED4DA;

        &-title {
            border-bottom: 2px solid #CED4DA;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            font-size: 10px;
            font-weight: bold;
        }

        &-content {
            height: 250px;
            overflow-y: scroll;

            &__option {
                height: 50px;
                cursor: pointer;
                border-bottom: 1px solid #CED4DA;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 18px;
                padding-right: 10px;
                font-size: 14px;

                &.-floor {
                    justify-content: center;
                }
                
                &:hover {
                    background-color: #F7F7F9;
                }

                &.selected {
                    background-color: #A100FF33;
                }

                &-icon {
                    color: #6C757D;
                    font-size: 32px;
                }
            }
        }

        &-placeholder {
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }
    }
}