<div class='space-profile-form'>
    <div>
        <p class="mb-0 small"><b>SPACE FUNCTION</b></p>
        <p>{{selectedSpace.spacefunction}}</p>
    </div>
    <div>
        <p class="mb-0 small"><b>SPACE TYPE</b></p>
        <p>{{selectedSpace.spacetype}}</p>
    </div>
    <div>
        <p class="mb-0 small"><b>SPACE STATUS</b></p>
        <p>{{ selectedSpace.spacestatus }}</p>
    </div>
    <div>
        <p class="mb-0 small"><b>SPACE GRADE LEVEL</b></p>
        <p>{{ selectedSpace.spacegradelvl }}</p>
    </div>
    <div>
        <p class="mb-0 small"><b>SPACE TENANT</b></p>
        <p>{{ selectedSpace.spacetenant }}</p>
    </div>

    <div>
        <p class="mb-0 small"><b>SPACE ASSIGNABILITY</b></p>
        <p>{{ selectedSpace.spaceassignability}}</p>
    </div>

    <div>
        <p class="mb-0 small"><b>DAYS AVAILABLE</b></p>
        <div class='space-profile-form__days-available--buttons'>
            <button>S</button>
            <button>M</button>
            <button>T</button>
            <button>W</button>
            <button>T</button>
            <button>F</button>
            <button>S</button>
        </div>
    </div>

    <div>
        <p class="mb-0 small"><b>SPACE START</b></p>
        <p>{{ selectedSpace.shiftstart }}</p>
    </div>
    <div>
        <p class="mb-0 small"><b>SPACE END</b></p>
        <p>{{ selectedSpace.endstart }}</p>
    </div>

    <!-- ALLOWABLE -->
    <div class='space-profile-form__allowable'>
        <div class='space-profile-form__allowable--title'>
            <label>NUMBER OF ALLOWABLE PROJECTS</label>
        </div>
        <p>{{ selectedSpace.numofallowableproj}}</p>
    </div>
    <div class='space-profile-form__allowable'>
        <div class='space-profile-form__allowable--title'>
            <label>NUMBER OF ALLOWABLE RESOURCES(EID)</label>
        </div>
        <p>{{ selectedSpace.numofallowableresource}}</p>
    </div>
    <div class='space-profile-form__allowable'>
        <div class='space-profile-form__allowable--title'>
            <label>GAP HOURS</label>
        </div>
        <p>{{ selectedSpace.gaphours}}</p>
    </div>
</div>