.render-svg {
    position: relative;
    position: relative;
    max-height: 70vh;
    max-width: 75vw;
    min-height: 40vh;
    overflow: hidden;

    &:hover svg {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }   
    &__content {
        // position: absolute;
        top: 0;
        left: 0;
    }
    #svg {
        // max-height: 70vh;
        // overflow: hidden;
        // max-width: 75vw;
        svg {
            -webkit-transition: 0.6s ease;
            transition: 0.6s ease;
        }

        // &:hover {
        //     -webkit-transform:scale(1.5); /* Safari and Chrome */
        //     -moz-transform:scale(1.5); /* Firefox */
        //     -ms-transform:scale(1.5); /* IE 9 */
        //     -o-transform:scale(1.5); /* Opera */
        //     transform:scale(1.5);
        // }
    }

    &__zoom {
        box-shadow: 0 0 5px 0 #00000064;
        padding: 0 5px;
        margin-top: 3px;
        height: 59px;
        width: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 5px;
        bottom: 5px;

        &-control {
            height: 28px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            background-color: #fff;

            &:first-of-type {
                border-bottom: 2px solid #E5E5E5;
            }

            &:last-of-type {
                font-size: 23px;
            }
        }
    }
}