.space-profile-form {
    &__revert {
        color: #6C757D;
        text-align: right;

        &.-active {
            color: #460B73;

            &:hover {
                color: #A100FF;
            }
        }
    }

    &__options {
        display: flex;

        &-item {
            flex: 1;
            border: 1px solid #CED4DA;
            background: #ffffff;
            color: #212529;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.-active {
                background: #A100FF;
                color: #ffffff;
            }

            &.-disabled {
                background: #CED4DA;
                color: #8d9296;
                cursor: default;
            }
        }
    }

    &__function {
        margin: 10px 0;

        &--title {
            margin: 5px 0;

            label {
                font-size: 10px;
                font-weight: bold;
                color: #000;
            }
        }

        &--function-wrapper {
            display: flex;

            mat-button-toggle-group {
                width: 100%;

                mat-button-toggle {
                    width: 50%;
                    
                }
            }
            // .mat-button-toggle:hover {
            //     border: 1px solid #A100FF;
            //     background-color: transparent;
            // }
            .mat-button-toggle-checked {
                background-color: #A100FF !important;
                color: #fff;
            }
            
        }

        &--dropdown {
            select {
                width: 100%;
                padding: 15px;
            }
        }
    }

    &__type, &__status, &__grade, &__tenant, &__shifts {
        margin: 10px 0;

        &--title {
            margin: 5px 0;

            label {
                font-size: 10px;
                font-weight: bold;
                color: #000;
            }
        }

        mat-form-field {
            ::ng-deep .mat-form-field-flex {
                background-color: #fff;
                border: 1px solid #e3e3e3;
                padding: 5px 15px;
            }

            ::ng-deep .mat-form-field-wrapper > .mat-form-field-underline {
                display: none;
            }

            select > option {
                background-color: #A100FF !important;

            }
        }
    }

    // &__type {
    //     margin: 10px 0;

    //     &--title {
    //         margin: 5px 0;

    //         label {
    //             font-size: 10px;
    //             font-weight: bold;
    //             color: #000;
    //         }
    //     }

    //     mat-form-field {
    //         ::ng-deep .mat-form-field-flex {
    //             background-color: #fff;
    //             border: 1px solid #e3e3e3;
    //             padding: 5px 15px;
    //         }

    //         ::ng-deep .mat-form-field-wrapper > .mat-form-field-underline {
    //             display: none;
    //         }

    //         select > option {
    //             background-color: #A100FF !important;

    //         }
    //     }
    // }



    &__assignability {
        margin: 10px 0;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 15px;;

        &--title {
            margin: 5px 0;

            label {
                font-size: 10px;
                font-weight: bold;
                color: #000;
            }
        }
        

        &--buttons {
            display: flex;

            button {
                padding: 12px;
                background-color: transparent;
                border: 1px solid #e3e3e3;
                width: 100%;
            }

            button:hover {
                border-color: #A100FF;
            }
        }

    }


    &__days-available {
        margin: 10px 0;

        &--title {
            margin: 5px 0;

            label {
                font-size: 10px;
                font-weight: bold;
                color: #000;
            }
        }

        &--buttons {
            display: flex;

            button {
                padding: 9px 6px;
                background-color: #A100FF;
                border: 1px solid #A100FF;
                color: #ffffff;
                width: 100%;
                margin-right: 2px;
                cursor: pointer;
            }

            button:hover {
                border-color: #A100FF;
            }
        }
    }

    &__allowable {
        margin: 10px 0;

        &--title {
            margin: 5px 0;

            label {
                font-size: 10px;
                font-weight: bold;
                color: #000;
            }
        }

        &--input-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;

            input {
                width: 66%;
                height: 40px;
                padding: 15px;
                border: 1px solid #e3e3e3;
            }

            input:hover {
                border-color: #A100FF;
            }


            &__icon {
                height: 40px;
                width: 40px;
                font-size: 40px;
            }
        }
    }

    &__toggle-adjacent {
        font-size: 10px;
        color: #460B73;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        &:hover:not(.-disbaled) {
            color: #A100FF;
        }

        &.-disabled {
            cursor: unset;
            color: #e3e3e3;

            &:hover {
                cursor: unset;
                color: #e3e3e3;
            }
        }

        &-icon {
            font-size: 11px;
            margin-right: 3px;

            &.-done {
                font-size: 12px;
            }
        }
    }
}

mat-form-field {
    width: 100%;
}


select {
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    width: 100%;
    height: 50px;
    object-fit: contain;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 0 !important;
    margin-right: 20px;
    border-color: #CED4DA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    &:hover {
        border-color: #A100FF;
    }
    
    &.custom-select-tag {
        background-image:
            linear-gradient(45deg, transparent 50%,#CED4DA 50%),
            linear-gradient(135deg,#CED4DA 50%, transparent 50%),
            linear-gradient(to right, #CED4DA, #CED4DA);
        background-position:
            calc(100% - 20px) calc(1em + 6px),
            calc(100% - 15px) calc(1em + 6px),
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            0px;
        background-repeat: no-repeat;

        &:disabled {
            background: #CED4DA;
            
            &:hover {
                border-color: #CED4DA;
            }
        }

        &:focus {
            background-image:
                linear-gradient(314deg, #A100FF 50%, transparent 50%),
                linear-gradient(225deg, transparent 50%, #A100FF 50%),
                linear-gradient(to right, #CED4DA, #CED4DA);
            background-size:
                5px 5px,
                5px 5px,
                0px;
            background-repeat: no-repeat;
            border-color: #A100FF;
            outline: 0;
        }
    }

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0#a100ff;
    }.disabled {
        background-color: #ebebe4;
        
        &:hover {
            border-color: #CED4DA;
        }
    }
}