<div class='space-profile-form' *ngIf="!shouldClearForm">
    <div class="space-profile-form__revert small">
        REVERT CHANGES
    </div>

    <div class='space-profile-form__function'>
        <div class='space-profile-form__function--title'>
            <label>SPACE FUNCTION</label>
        </div>
        <app-multiselect-input></app-multiselect-input>
    </div>

    <div
        class="space-profile-form__toggle-adjacent"
        [class.-disabled]="currentSpaces.length > 1"
        (click)='enableAdjacentSpace(true)'
        *ngIf="!adjacentSpaceData.isAdjacentEnabled">
        <span class="space-profile-form__toggle-adjacent-icon material-icons">
            widgets
        </span>
        <span>SET ADJACENT SPACES</span>
    </div>
    <div class="space-profile-form__toggle-adjacent" (click)='enableAdjacentSpace(false)'  *ngIf="adjacentSpaceData.isAdjacentEnabled">
        <span class="space-profile-form__toggle-adjacent-icon -done material-icons">
            done
        </span>
        <span>DONE SETTING</span>
    </div>

    <div class='space-profile-form__function'>
        <div class='space-profile-form__function--title'>
            <label>SPACE FUNCTION</label>
        </div>
        <div class='space-profile-form__options'>
            <div
                class='space-profile-form__options-item'
                [class.-active]="formData.spacefunction === 'Production'"
                (click)="handleFunctionChange('Production')">
                Production
            </div>
            <div
                class='space-profile-form__options-item'
                [class.-active]="formData.spacefunction === 'Room'"
                (click)="handleFunctionChange('Room')">
                Room
            </div>
        </div>
    </div>

    <div class='space-profile-form__type'>
        <div class='space-profile-form__type--title'>
            <label>SPACE TYPE</label>
        </div>
        <select class="custom-select-tag" [disabled]="!formData.spacefunction" (change)="handleSelectChange($event, 'spacetype')">
            <option *ngFor="let type of types" [value]="type.value">
                {{type.viewValue}}
            </option>
        </select>
    </div>
    <div class='space-profile-form__status'>
        <div class='space-profile-form__status--title'>
            <label>SPACE STATUS</label>
        </div>
        <select class="custom-select-tag" [disabled]="!formData.spacetype" (change)="handleSelectChange($event, 'spacestatus')">
            <option *ngFor="let status of spaceStatus" [value]="status.value">
                {{status.label}}
            </option>
        </select>
    </div>
    <div class='space-profile-form__grade'>
        <div class='space-profile-form__grade--title'>
            <label>SPACE GRADE LEVEL</label>
        </div>
        <select class="custom-select-tag" [disabled]="!formData.spacetype" (change)="handleSelectChange($event, 'spacegradelvl')">
            <option *ngFor="let level of gradeLevel" [value]="level.value">{{level.label}}</option>
        </select>
    </div>
    <div class='space-profile-form__tenant'>
        <div class='space-profile-form__tenant--title'>
            <label>SPACE TENANT</label>
        </div>
        <select class="custom-select-tag" [disabled]="!formData.spacetype" (change)="handleSelectChange($event, 'spacetenant')">
            <option *ngFor="let tenant of tenants" [value]="tenant.value">{{tenant.label}}</option>
        </select>
    </div>

    <div class='space-profile-form__assignability'>
        <div class='space-profile-form__assignability--title'>
            <label>SPACE ASSIGNABILITY</label>
        </div>
        <div class='space-profile-form__options'>
            <div
                *ngFor="let value of assignability;"
                class='space-profile-form__options-item'
                [class.-active]="formData.spaceassignability === value"
                [class.-disabled]="!formData.spacetype"
                (click)="handleAssignability(value)">
                {{value}}
            </div>
        </div>
    </div>

    <div class='space-profile-form__days-available'>
        <div class='space-profile-form__days-available--title'>
            <label>DAYS AVAILABLE</label>
        </div>
        <div class='space-profile-form__options'>
            <div
                *ngFor="let day of week; let i = index"
                class='space-profile-form__options-item'
                [class.-active]="formData.daysavailability.indexOf(i) > -1"
                [class.-disabled]="!formData.spacetype"
                (click)="handleDaysAvailable(i)">
                {{day}}
            </div>
        </div>
    </div>

    <div class='space-profile-form__shifts'>
        <div class='space-profile-form__shifts--title'>
            <label>SPACE START</label>
        </div>
        <select class="custom-select-tag" [disabled]="!formData.spacetype" (change)="handleSelectChange($event, 'shiftstart')">
            <option *ngFor="let shift of shifts" [value]="shift.value">{{shift.label}}</option>
        </select>
    </div>
    <div class='space-profile-form__shifts'>
        <div class='space-profile-form__shifts--title'>
            <label>SPACE END</label>
        </div>
        <select class="custom-select-tag" [disabled]="!formData.spacetype" (change)="handleSelectChange($event, 'endstart')">
            <option *ngFor="let shift of shifts" [value]="shift.value">{{shift.label}}</option>
        </select>
    </div>

    <!-- ALLOWABLE -->
    <div class='space-profile-form__allowable'>
        <div class='space-profile-form__allowable--title'>
            <label>NUMBER OF ALLOWABLE PROJECTS</label>
        </div>

        <app-number-input
            [handleInputChange]="handleChangeNumberInput"
            [dataKey]="'numofallowableproj'"
            [isDisabled]="!formData.spacetype"></app-number-input>
    </div>
    <div class='space-profile-form__allowable'>
        <div class='space-profile-form__allowable--title'>
            <label>NUMBER OF ALLOWABLE RESOURCES(EID)</label>
        </div>

        <app-number-input
            [handleInputChange]="handleChangeNumberInput"
            [dataKey]="'numofallowableresource'"
            [isDisabled]="!formData.spacetype"></app-number-input>
    </div>
    <div class='space-profile-form__allowable'>
        <div class='space-profile-form__allowable--title'>
            <label>GAP HOURS</label>
        </div>
        <app-number-input
            [handleInputChange]="handleChangeNumberInput"
            [dataKey]="'gaphours'"
            [isDisabled]="!formData.spacetype"></app-number-input>
    </div>
</div>