<div class="space-setup">
    <div class="space-setup__card">
        <div class="space-setup__content">
            <div class="space-setup__content__header">
                <p class="space-setup__content__header-title">SPACE SETUP</p>
            </div>

            <div class="space-setup__layout">
                <div class="space-setup__layout__tabs">
                    <div
                        *ngFor="let item of floorPlans; let i = index"
                        class="space-setup__layout__tab-item"
                        [class.--active-tab]="i === activeTabIndex"
                        (click)="handleTabChange(i)">
                        <p class="space-setup__layout__tab-item__title">{{item.isUploaded ? '[Uploaded] ' : ''}}{{item.fileName}}</p>
                        <div class="space-setup__status" [class.--next]="!item.isUploaded" ></div>
                    </div>
                </div>

                <div class="space-setup__layout__content">
                    <div class="space-setup__layout__content-preview">
                        <div class="space-setup__layout__content-preview__svg">
                            <app-render-svg
                                [url]="floorPlans[activeTabIndex].file"
                                [callbackFunction]="setCurrentSpaces"
                                [setSpaceCount]="setSpaceCount"
                                [currentSpaces]="currentSpaces"
                                [legends]="legendsConfig[legendVisible]"
                                [legendVisible]="legendVisible"
                                [data]='spaces'>
                            </app-render-svg>
                        </div>
                        <div class="space-setup__layout__content-preview__tip">
                            <p><b>TIP: </b> Clicking a space from the floor plan map will show its space profile on the left information panel.</p>
                        </div>
                    </div>

                    <div class="space-setup__layout__content-details" *ngIf="!currentSpaces.length">
                        <div class="space-setup__layout__content-details__space-count --wrapper">
                            <div class="space-setup__layout__content-details__title">SPACES LEGEND</div>

                            <div>
                                <select class="space-select" (change)="onChangeSpaceStatus($event)">
                                    <option value="spaceassignability">Space Assignability</option>
                                    <option value="spacetenant">Space Tenant</option>
                                    <option value="spacestatus">Space Status</option>
                                </select>
                            </div>

                            <div class="space-setup__layout__content-details__space-count__legend" *ngFor="let visible of legendsConfig[legendVisible] | keyvalue;">
                                <div>
                                    <div
                                        class="space-setup__layout__content-details__space-count__legend-color"
                                        [ngStyle]="visible.value.legend"
                                        ></div>
                                </div>
                                <div class="space-setup__layout__content-details__space-count__legend-value"><b>{{visible.value.count}}</b> {{visible.key}}</div>
                            </div>
                        </div>

                        <div class="space-setup__layout__content-details__space-changes --wrapper">
                            <div class="space-setup__layout__content-details__title">FLOOR CAPACITY</div>

                            <div class="space-setup__layout__content-details__body">
                              <label>
                                TOTAL PRODUCTION SPACES
                              </label><br>
                              <span>497</span><br>
                              <label>
                                CAPACITY THRESHOLD
                              </label><br>
                              <div>
                                <select class="space-select">
                                    <option value="100%">100%</option>
                                    <option value="90%">90%</option>
                                    <option value="80%">80%</option>
                                </select>
                              </div>
                              <label>
                                ALLOWABLE
                              </label><br>
                              <span>149</span>
                            </div>


                            <!-- <div class="space-setup__layout__content-details__space-changes__item" *ngFor="let change of floorPlans[activeTabIndex].changes;">
                                <div>
                                    <p>{{change.fileName}}</p>
                                    <div class="space-setup__status --small --next"></div>
                                </div>
                                <ul>
                                    <li>{{change.removedCount}} spaces removed</li>
                                    <li>{{change.addedCount}} spaces added</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>

                    <div class="space-setup__layout__content-details" *ngIf="currentSpaces.length">
                        <div class="space-setup__layout__content-details__space-title --wrapper">
                            <!-- SEAT {{currentSpaces}} -->
                           <label><span>{{currentSpaces.length}}</span> Selected Spaces </label>
                            <div (click)="clearCurrentSpaces()">
                                x <!-- < replace with actual icon > -->
                            </div>
                        </div>

                        <div class="--wrapper">
                            <div class="space-setup__layout__content-details__title">SPACE PROFILE</div>


                            <div *ngIf="selectedSpace; else elseBlock">
                                <div class='space-profile__divider'></div>
                                <app-space-profile-preview [selectedSpace]="selectedSpace"></app-space-profile-preview>
                            </div>
                            <ng-template #elseBlock>
                                <div class='space-profile__divider mb-1'></div>
                                <app-space-profile-form [currentSpaces]="currentSpaces"></app-space-profile-form>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-setup__buttons">
            <button>PREVIOUS</button>
            <button (click)="handleUpdateNewSpaces()">SAVE & CONTINUE</button>
        </div>
    </div>
</div>
